
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <!-- page content -->
            <div class="col-md-12">
                <div class="col-middle">
                    <div class="text-center text-center">
                        <h1 class="error-number">404</h1>
                        <h2> Page not found!</h2>
                        <p>
                            Page not found!
                        </p>
                    </div>
                </div>
            </div>
            <!-- /page content -->
        </div>
    </div>
</body>