@model RegisterModel

<div id="register" class="animate form registration_form">
    <section class="login_content">
        <form method="post" asp-controller="Account" asp-action="Register" class="form-signin" role="form">
            <div asp-validation-summary="ModelOnly"></div>
            <h1>Create Account</h1>
            <div>
                <input type="text" asp-for="Username" class="form-control" placeholder="Username" required="" value="@Model.Username" />
                <span asp-validation-for="Username"></span>
            </div>
            <div>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" required="" />
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm your password" required />
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div>
                <button class="btn btn-default submit" type="submit">Submit</button>
            </div>

            <div class="clearfix"></div>

            <div class="separator">
                <p class="change_link">
                    Already a member ?
                    <a href="#signin" class="to_register"> Log in </a>
                </p>

                <div class="clearfix"></div>
                <br />

                <div>
                    <h1><i class="fa fa-paw"></i> DotNetCore.Web</h1>
                    <p>©@DateTime.Now.Year All Rights Reserved!</p>
                </div>
            </div>
        </form>
    </section>
</div>

